<html>
	<head>
		<title>Hello World </title>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->        
	    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Talk About My Music!<br></h1>
				<h2><small>Enter the artist and see what your facebook friends and people on twitter talk about it</small></h2>
				
		        <form id="viewHashTag" role="form" method="post" action="/search">
		            <input type="text" class="form-control" name="artist" placeholder="Put the artist name here">
		            <input type="submit" id="submitBtn" class="btn btn-success" value="Search"></input>
		        </form>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
	    <script src="js/jquery.validate.min.js"></script>
	    <script src="js/additional-methods.min.js"></script>
	    <script src="js/validate.js"></script>
	    <script src="js/bootstrap.js"></script>
	</body>
</html>